<div class="card">
  <div class="card-image">
    <% unless post.urlToImage == "" %>
      <figure class="image is-3by2">
        <img src="<%= post.urlToImage %>" alt="<%= post.title%>">
      </figure>
    <% end %>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4"><%= post.title %></p>
        <p class="subtitle is-6"><%= post.author %></p>
      </div>
    </div>

    <div class="content has-text-weight-normal">
      <%= post.description %>
    </div>
  </div>

  <footer class="has-text-weight-normal card-footer">
    <i class=" card-footer-item has-text-grey"><%= time_ago_in_words(post.publishedAt) %> ago</i>
  </footer>
</div>