<% 
  news = from_api()
  first_six = news[0..5]
  rest = news[6..19]
%>

<div class="container">
  <br>
  <h1 class="title">Headlines</h1>
  <h2 class="subtitle">All your current news</h2>
  <br>
  
  <section id="news-top">
    <div class="columns">
      <div class="column">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="news tile is-child box">
              <div class="news-image">
                <%= image_tag(first_six[0].urlToImage) %>
              </div>
              
              <p class="title"><%= first_six[0].title %></p>
              <p class="description subtitle"><%= first_six[0].description %></p>
            </div>
          </div>

          <div class="small-news tile is-4 is-vertical is-parent">
            <div class="news tile is-child box">
              <div class="news-image">
                <%= image_tag(first_six[1].urlToImage) %>
              </div>
              
              <p class="subtitle"><%= truncate first_six[1].title, length: 60 %></p>
              <p class="description"><%= truncate first_six[1].description, length: 100 %></p>
            </div>
            <div class="tile is-child box">
              <div class="news-image">
                <%= image_tag(first_six[2].urlToImage) %>
              </div>
              
              <p class="subtitle"><%= truncate first_six[2].title, length: 60 %></p>
              <p class="description"><%= truncate first_six[2].description, length: 100 %></p>
            </div>
          </div>
        </div>

        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title">One</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title">One</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title">One</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
          </div>
          <div class="tile is-parent">
            <div class="tile is-child box">
              <p class="title">One</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="column posts is-one-fifth">
        <% current_posts.each do |p| %>
          <strong><%= p.title %><strong><br>
          <p><%= p.description %></p>
          <hr>
        <% end %>
      </div>
    </div>
  </section>
  
  <section id="news-bottom"></section>
</div>