<% 
  news = from_api()
  top = news[0..1]
  rest = news[2..news.length]
%>

<div class="container">
  <br>
  <h1 class="title">Headlines</h1>
  <h2 class="subtitle">All your current news</h2>
  <br>
  
  <section id="news-top">
    <div class="columns">
      <div class="column">
        <div class="tile is-ancestor">
          <div class="tile is-parent">
            <div class="news tile is-child box">
              <div class="news-image">
                <%= image_tag(top[0].urlToImage) %>
              </div>
              
              <p class="title"><%= link_to top[0].title, top[0].url %></p>
              <p class="description"><%= top[0].description %></p>
            </div>
          </div>

          <div class="small-news tile is-4 is-vertical is-parent">
            <div class="news tile is-child box">
              <div class="news-image">
                <%= image_tag(top[1].urlToImage) %>
              </div>
              
              <p class="subtitle"><%= link_to top[1].title, top[1].url %></p>
              <p class="description"><%= truncate top[1].description, length: 130 %></p>
            </div>
          </div>
        </div>
      </div>

      <div class="column posts is-one-fifth">
        <% current_posts.each do |p| %>
          <strong><%= p.title %><strong><br>
          <p><%= p.description %></p>
          <hr>
        <% end %>
      </div>
    </div>
  </section>
  
  <section id="news-bottom">
  <!-- Three column layout -->
  <% rest.each do |p| %>
    <%= render partial: "partials/article_card", locals: { post: p } %>
  <% end %>
  </section>
</div>