<h1 class="title">Headlines</h1>
<div>
    <% 4.times do |index| %>
        <div class="columns news">
            <% get_five(index).each do |article| %>
                <div class="column">
                    <div class="card">
                        <% if article.urlToImage %>
                            <div class="card-image">
                                <figure class="image is-3by2">
                                    <%= image_tag(article.urlToImage) %>
                                </figure>
                            </div>
                        <% end %>

                        <div class="card-content">
                            <div class="media">
                                <div class="media-content">
                                    <p class="subtitle is-4"><%= link_to article.title, article.url %></p>
                                    <p class="subtitle is-6"><%= article.description %></p>
                                </div>
                            </div>

                            <div class="content">
                                <p><%= article.name %></p>

                                <time datetime="2016-1-1"><%= time_ago_in_words(article.publishedAt) %> ago.</time>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>
</div>